<%= form_for Sort.new do |f| %>
  <% if @sort.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sort.errors.count, "error") %> prohibited this sort from being saved:</h2>

      <ul>
      <% @sort.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :type %>
    <%= radio_button_tag :type, 'ascending', true %>
    <%= label_tag(:type_ascending, "ascending", :style => "display:inline") %><br>
    <%= radio_button_tag :type, 'descending' %>
    <%= label_tag(:type_descending, "descending", :style => "display:inline") %><br>
    <%= radio_button_tag :type, 'random' %>
    <%= label_tag(:type_random, "random", :style => "display:inline") %>    
  </div>


  <div class="actions">
    <%= f.submit :class => "btn btn-primary" %>
  </div>
<% end %>
