<%= debug @sort %>

<p>
  <strong>Type:</strong>
  <%= @sort.name %>
</p>

<p>
  <strong>Input:</strong>
  <%= @sort.input %>
</p>

<%= link_to 'Edit', edit_sort_path(@sort) %> |
<%= link_to 'Back', sorts_path %>
